@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
/* line 1, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_header.scss */
.header {
  width: 100%;
  height: 518px;
}

/* line 5, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_header.scss */
.header-main {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 10, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_header.scss */
.header-main__img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 16, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_header.scss */
.header-main__img-track {
  display: flex;
  transition: 1.5s;
  color: rgba(0, 0, 0, 0.34);
}

/* line 21, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_header.scss */
.header-main__img-track__item {
  background-image: rgba(0, 0, 0, 0.34);
}

/* line 26, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_header.scss */
.header-main__img-prev {
  position: absolute;
  margin-left: 165px;
  margin-top: 235px;
  z-index: 1;
  border: none;
  background: none;
}

/* line 35, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_header.scss */
.header-main__img-next {
  position: absolute;
  margin-left: 92em;
  margin-top: 235px;
  z-index: 1;
  border: none;
  background: none;
}

/* line 45, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_header.scss */
.header-main__btn {
  position: absolute;
  bottom: 25.38px;
  width: 254.81px;
  height: 60.62px;
  background: #5A8CC1;
  color: #FFFFFF;
  font-family: "Alice";
  font-size: 28px;
  border: 1px solid #EBF1FD;
  cursor: pointer;
}

/* line 57, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_header.scss */
.header-main__btn > a {
  color: #FFFFFF;
  font-family: "Alice";
  font-size: 28px;
}

/* line 65, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_header.scss */
.header-container {
  position: absolute;
  display: flex;
  align-items: center;
  height: 136px;
  top: 62px;
  border-left: 2px solid #FFFFFF;
}

/* line 73, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_header.scss */
.header-container__name {
  display: flex;
  flex-direction: column;
  margin-left: 29px;
}

/* line 78, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_header.scss */
.header-container__name-title {
  font-family: "Alice";
  font-weight: 400;
  font-size: 64px;
  color: #FFFFFF;
  letter-spacing: 0.07em;
}

/* line 86, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_header.scss */
.header-container__name-subtitle {
  margin-top: 10px;
  font-family: "Alice";
  color: #FFFFFF;
  font-size: 28px;
  letter-spacing: 0.07em;
}

/* line 1, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_first.scss */
.first-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* line 7, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_first.scss */
.first-block__list {
  margin-top: 39px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 15, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_first.scss */
.first-block__list-item > a {
  font-size: 24px;
  font-family: "Alice";
  color: #5A8CC1;
}

/* line 23, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_first.scss */
.first-block__present {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1013px;
}

/* line 30, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_first.scss */
.first-block__present-name {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 675px;
}

/* line 36, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_first.scss */
.first-block__present-name__title {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Alice";
  font-size: 48px;
  letter-spacing: 0.07em;
}

/* line 44, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_first.scss */
.first-block__present-lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9px;
  width: 412px;
}

/* line 51, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_first.scss */
.first-block__present-lines > hr:first-child {
  width: 100%;
  height: 0;
  border: 1px solid #5A8CC1;
}

/* line 57, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_first.scss */
.first-block__present-lines > hr {
  margin-top: 10px;
  width: 220px;
  border: 1px solid #5A8CC1;
}

/* line 64, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_first.scss */
.first-block__present-text {
  margin-top: 21px;
  width: 1013px;
}

/* line 68, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_first.scss */
.first-block__present-text > p {
  width: 100%;
  font-size: 16px;
  text-align: center;
  text-indent: 20px;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.8);
}

/* line 78, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_first.scss */
.first-block__present-video {
  margin-top: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 730px;
  height: 407px;
}

/* line 1, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_second.scss */
.second-block {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
  width: 100%;
}

/* line 7, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_second.scss */
.second-block__content {
  width: 540px;
  height: 544px;
  display: flex;
  flex-direction: column;
}

/* line 13, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_second.scss */
.second-block__content-title {
  font-family: "Alice";
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.8);
}

/* line 22, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_second.scss */
.second-block__content-text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  text-indent: 20px;
  color: rgba(0, 0, 0, 0.8);
}

/* line 33, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_second.scss */
.second-block__img {
  width: 540px;
  height: 540px;
}

/* line 37, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_second.scss */
.second-block__img-item {
  width: 100%;
  height: 100%;
  background: url("../../../img/second1.png") center no-repeat;
}

/* line 1, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_third.scss */
.third-block {
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* line 7, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_third.scss */
.third-block__img {
  width: 540px;
  height: 540px;
}

/* line 11, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_third.scss */
.third-block__img-item {
  width: 100%;
  height: 100%;
  background: url("../../../img/second2.png") center no-repeat;
}

/* line 18, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_third.scss */
.third-block__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 540px;
}

/* line 24, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_third.scss */
.third-block__content-title {
  font-family: "Alice";
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.8);
}

/* line 33, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_third.scss */
.third-block__content-text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  text-indent: 20px;
  color: rgba(0, 0, 0, 0.8);
}

/* line 43, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_third.scss */
.third-block__content > svg {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 1, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fourth.scss */
.fourth-block {
  margin: 140px auto auto;
}

/* line 4, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fourth.scss */
.fourth-block__title {
  font-family: "Alice";
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.8);
}

/* line 13, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fourth.scss */
.fourth-block__lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px auto;
  width: 412px;
}

/* line 20, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fourth.scss */
.fourth-block__lines > hr:first-child {
  width: 100%;
  height: 0;
  border: 1px solid #5A8CC1;
}

/* line 26, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fourth.scss */
.fourth-block__lines > hr {
  margin-top: 10px;
  width: 220px;
  border: 1px solid #5A8CC1;
}

/* line 33, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fourth.scss */
.fourth-block__tabs {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1110px;
}

/* line 40, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fourth.scss */
.fourth-block__tabs-items {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* line 45, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fourth.scss */
.fourth-block__tabs-items__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Alice";
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #5A8CC1;
  width: 100%;
  height: 52px;
  transition: 0.7s;
}

/* line 61, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fourth.scss */
.fourth-block__tabs-items__item.active {
  border: 1px solid #5A8CC1;
  border-bottom: none;
  color: #000000;
}

/* line 69, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fourth.scss */
.fourth-block__tabs-body {
  display: block;
}

/* line 71, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fourth.scss */
.fourth-block__tabs-body__block {
  display: none;
  margin-top: 80px;
  right: 0;
  width: 1260px;
  height: 690px;
  background: rgba(191, 219, 247, 0.2);
}

/* line 80, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fourth.scss */
.fourth-block__tabs-body__block:target {
  display: flex;
}

/* line 83, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fourth.scss */
.fourth-block__tabs-body__block:target > p {
  margin-top: 135px;
  margin-left: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  text-indent: 20px;
  color: rgba(0, 0, 0, 0.8);
  width: 539px;
}

/* line 99, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fourth.scss */
.fourth-block__tabs-body__img-one {
  position: relative;
  width: 540px;
  height: 100%;
}

/* line 104, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fourth.scss */
.fourth-block__tabs-body__img-one > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 110, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fourth.scss */
.fourth-block__tabs-body__img-one-item {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity easy-in-out;
  transition-delay: 200ms;
}

/* line 117, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fourth.scss */
.fourth-block__tabs-body__img-one-item > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* line 126, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fourth.scss */
.fourth-block__tabs-body__img-one-item[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

/* line 132, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fourth.scss */
.fourth-block__tabs-body__img-one-btn {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* line 141, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fourth.scss */
.fourth-block__tabs-body__img-one-btn.prev {
  left: 0;
}

/* line 144, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fourth.scss */
.fourth-block__tabs-body__img-one-btn.next {
  right: 0;
}

/* line 1, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fifth.scss */
.fifth-block {
  margin: 140px auto auto;
}

/* line 4, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fifth.scss */
.fifth-block__title {
  font-family: "Alice";
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.8);
}

/* line 13, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fifth.scss */
.fifth-block__lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px auto;
  width: 412px;
}

/* line 20, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fifth.scss */
.fifth-block__lines > hr:first-child {
  width: 100%;
  height: 0;
  border: 1px solid #5A8CC1;
}

/* line 26, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fifth.scss */
.fifth-block__lines > hr {
  margin-top: 10px;
  width: 220px;
  border: 1px solid #5A8CC1;
}

/* line 33, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fifth.scss */
.fifth-block__first {
  margin-top: 35px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* line 39, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fifth.scss */
.fifth-block__first-img {
  width: 540px;
  height: 690px;
  background: url(/img/third1.jpg) center no-repeat;
}

/* line 45, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fifth.scss */
.fifth-block__first-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 130px;
  margin-left: 70px;
  height: 485px;
}

/* line 54, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fifth.scss */
.fifth-block__first-text {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  color: #000000;
}

/* line 62, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fifth.scss */
.fifth-block__first-vectors {
  display: flex;
  width: 467px;
  align-items: center;
  justify-content: space-between;
}

/* line 70, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fifth.scss */
.fifth-block__second {
  margin-top: 140px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* line 76, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fifth.scss */
.fifth-block__second-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 54px;
  margin-right: 65px;
  height: 485px;
}

/* line 85, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fifth.scss */
.fifth-block__second-text {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  color: #000000;
}

/* line 93, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fifth.scss */
.fifth-block__second-vectors {
  display: flex;
  width: 467px;
  align-items: center;
  justify-content: space-between;
}

/* line 100, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_fifth.scss */
.fifth-block__second-img {
  width: 540px;
  height: 540px;
  background: url(/img/third2.jpg) center no-repeat;
}

/* line 1, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_sixth.scss */
.sixth-block {
  margin: 140px auto auto;
  width: 100%;
  height: 1022px;
}

/* line 6, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_sixth.scss */
.sixth-block__title {
  font-family: "Alice";
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.8);
}

/* line 15, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_sixth.scss */
.sixth-block__lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px auto;
  width: 412px;
}

/* line 22, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_sixth.scss */
.sixth-block__lines > hr:first-child {
  width: 100%;
  height: 0;
  border: 1px solid #5A8CC1;
}

/* line 28, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_sixth.scss */
.sixth-block__lines > hr {
  margin-top: 10px;
  width: 220px;
  border: 1px solid #5A8CC1;
}

/* line 35, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_sixth.scss */
.sixth-block__text {
  margin-top: 30px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  text-indent: 20px;
  color: rgba(0, 0, 0, 0.8);
}

/* line 45, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_sixth.scss */
.sixth-block__cards {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 52, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_sixth.scss */
.sixth-block__cards-item {
  width: 357px;
  height: 654px;
}

/* line 56, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_sixth.scss */
.sixth-block__cards-item__text {
  margin-top: 40px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.8);
}

/* line 64, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_sixth.scss */
.sixth-block__cards-item__text > span {
  color: #000000;
}

/* line 71, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_sixth.scss */
.sixth-block__cards-img > img {
  background: center no-repeat;
}

/* line 1, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_seventh.scss */
.seventh-block {
  margin: 140px auto auto;
  width: 100%;
}

/* line 5, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_seventh.scss */
.seventh-block__title {
  font-family: "Alice";
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.8);
}

/* line 14, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_seventh.scss */
.seventh-block__lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px auto;
  width: 412px;
}

/* line 21, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_seventh.scss */
.seventh-block__lines > hr:first-child {
  width: 100%;
  height: 0;
  border: 1px solid #5A8CC1;
}

/* line 27, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_seventh.scss */
.seventh-block__lines > hr {
  margin-top: 10px;
  width: 220px;
  border: 1px solid #5A8CC1;
}

/* line 34, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_seventh.scss */
.seventh-block__text {
  margin-top: 30px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  text-indent: 20px;
  color: rgba(0, 0, 0, 0.8);
}

/* line 44, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_seventh.scss */
.seventh-block__restourant {
  margin-top: 74px;
  display: flex;
  width: 100%;
  background: rgba(191, 219, 247, 0.2);
}

/* line 50, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_seventh.scss */
.seventh-block__restourant-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  width: 513px;
  text-align: center;
}

/* line 58, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_seventh.scss */
.seventh-block__restourant-text > h2 {
  width: 100%;
  font-family: "Alice";
  font-size: 38px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.8);
}

/* line 68, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_seventh.scss */
.seventh-block__restourant-text > button {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 184.62px;
  height: 36.29px;
  background: #5A8CC1;
  border: none;
  cursor: pointer;
}

/* line 79, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_seventh.scss */
.seventh-block__restourant-text > button > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 86.1px;
  color: #FFFFFF;
  font-size: 20px;
  font-family: "Alice";
}

/* line 90, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_seventh.scss */
.seventh-block__restourant-text > p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.8);
}

/* line 99, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_seventh.scss */
.seventh-block__restourant-text > p:last-child {
  margin-top: 20px;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.07em;
  text-indent: 20px;
  color: rgba(0, 0, 0, 0.8);
}

/* line 111, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_seventh.scss */
.seventh-block__terrace {
  margin-top: 74px;
  display: flex;
  width: 100%;
}

/* line 116, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_seventh.scss */
.seventh-block__terrace-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 513px;
  text-align: center;
}

/* line 123, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_seventh.scss */
.seventh-block__terrace-text > h2 {
  width: 100%;
  font-family: "Alice";
  font-size: 38px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.8);
}

/* line 133, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_seventh.scss */
.seventh-block__terrace-text > button {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 184.62px;
  height: 36.29px;
  background: #5A8CC1;
  border: none;
  cursor: pointer;
}

/* line 144, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_seventh.scss */
.seventh-block__terrace-text > button > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 86.1px;
  color: #FFFFFF;
  font-size: 20px;
  font-family: "Alice";
}

/* line 155, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_seventh.scss */
.seventh-block__terrace-text > p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.8);
}

/* line 164, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_seventh.scss */
.seventh-block__terrace-text > p:last-child {
  margin-top: 20px;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.07em;
  text-indent: 20px;
  color: rgba(0, 0, 0, 0.8);
}

/* line 175, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_seventh.scss */
.seventh-block__terrace-img {
  margin-left: 40px;
}

/* line 1, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_song.scss */
.song-block {
  margin: 195px auto auto;
}

/* line 4, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_song.scss */
.song-block__title {
  font-family: "Alice";
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.8);
}

/* line 13, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_song.scss */
.song-block__lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px auto;
  width: 412px;
}

/* line 20, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_song.scss */
.song-block__lines > hr:first-child {
  width: 100%;
  height: 0;
  border: 1px solid #5A8CC1;
}

/* line 26, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_song.scss */
.song-block__lines > hr {
  margin-top: 10px;
  width: 220px;
  border: 1px solid #5A8CC1;
}

/* line 33, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_song.scss */
.song-block__first {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* line 39, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_song.scss */
.song-block__first-text {
  width: 504px;
  text-align: center;
}

/* line 43, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_song.scss */
.song-block__first-text__paragraph {
  margin-top: 100px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  text-indent: 20px;
  color: rgba(0, 0, 0, 0.8);
}

/* line 53, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_song.scss */
.song-block__first-text__vectors {
  margin: 62px auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 467.73px;
}

/* line 63, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_song.scss */
.song-block__second {
  margin-top: 140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* line 69, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_song.scss */
.song-block__second-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 504px;
  text-align: center;
}

/* line 76, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_song.scss */
.song-block__second-text__paragraph {
  margin-top: 100px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  text-indent: 20px;
  color: rgba(0, 0, 0, 0.8);
}

/* line 86, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_song.scss */
.song-block__second-text > svg {
  margin: 73px auto auto;
}

/* line 90, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_song.scss */
.song-block__second-text__vectors {
  margin: 59px auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 467.73px;
}

/* line 1, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_tab.scss */
.tab-block {
  margin: 140px auto auto;
}

/* line 4, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_tab.scss */
.tab-block__title {
  font-family: "Alice";
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.8);
}

/* line 13, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_tab.scss */
.tab-block__lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px auto;
  width: 412px;
}

/* line 20, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_tab.scss */
.tab-block__lines > hr:first-child {
  width: 100%;
  height: 0;
  border: 1px solid #5A8CC1;
}

/* line 26, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_tab.scss */
.tab-block__lines > hr {
  margin-top: 10px;
  width: 220px;
  border: 1px solid #5A8CC1;
}

/* line 33, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_tab.scss */
.tab-block__tabs {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1110px;
}

/* line 40, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_tab.scss */
.tab-block__tabs-items {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* line 45, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_tab.scss */
.tab-block__tabs-items__item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #5A8CC1;
  width: 100%;
  height: 52px;
  transition: 0.7s;
}

/* line 61, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_tab.scss */
.tab-block__tabs-items__item--active {
  border: 1px solid #5A8CC1;
  border-bottom: none;
  font-weight: 200;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.07em;
  color: #000000;
}

/* line 73, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_tab.scss */
.tab-block__tabs-body__block {
  display: none;
  margin-top: 80px;
  right: 0;
  width: 1260px;
  height: 538px;
  background: rgba(191, 219, 247, 0.2);
}

/* line 82, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_tab.scss */
.tab-block__tabs-body__block--active {
  display: flex;
  transition: 0.7s;
}

/* line 91, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_tab.scss */
.tab-block__tabs-body__text {
  margin: auto;
}

/* line 94, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_tab.scss */
.tab-block__tabs-body__text > p {
  font-family: "Alice";
  margin-left: 30px;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  text-indent: 20px;
  color: rgba(0, 0, 0, 0.8);
  width: 539px;
}

/* line 106, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_tab.scss */
.tab-block__tabs-body__text > a {
  display: block;
  margin-top: 10px;
  font-family: "Alice";
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  text-indent: 20px;
  color: rgba(0, 0, 0, 0.8);
}

/* line 1, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_hotel.scss */
.hotel {
  margin: 130px auto auto;
  width: 100%;
}

/* line 5, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_hotel.scss */
.hotel-title {
  font-family: "Alice";
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.8);
}

/* line 14, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_hotel.scss */
.hotel-lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px auto;
  width: 412px;
}

/* line 21, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_hotel.scss */
.hotel-lines > hr:first-child {
  width: 100%;
  height: 0;
  border: 1px solid #5A8CC1;
}

/* line 27, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_hotel.scss */
.hotel-lines > hr {
  margin-top: 10px;
  width: 220px;
  border: 1px solid #5A8CC1;
}

/* line 34, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_hotel.scss */
.hotel-bg {
  margin-top: 30px;
  width: 100%;
}

/* line 39, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_hotel.scss */
.hotel-btn {
  display: block;
  margin: -4px auto auto;
  width: 287px;
  height: 36px;
  background: #5A8CC1;
  border: none;
  font-size: 20px;
  font-weight: 200;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}

/* line 54, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_hotel.scss */
.hotel-block {
  margin-top: 44px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* line 60, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_hotel.scss */
.hotel-block__text {
  text-align: center;
  margin-top: 100px;
  width: 530px;
  font-weight: 200;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.07em;
  text-indent: 20px;
  color: rgba(0, 0, 0, 0.8);
}

/* line 74, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_hotel.scss */
.hotel-gift {
  margin: 140px auto auto;
  width: 100%;
  border-top: 2px solid #5A8CC1;
}

/* line 79, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_hotel.scss */
.hotel-gift__text {
  font-family: "Alice";
  font-weight: 200;
  font-size: 24px;
  line-height: 150%;
  text-align: justify;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.7);
}

/* line 88, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_hotel.scss */
.hotel-gift__text > b {
  font-family: "Alice";
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-align: justify;
  letter-spacing: 0.07em;
  color: #000000;
}

/* line 99, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_hotel.scss */
.hotel-gift__vectors {
  margin: 20.43px auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 467.73px;
}

/* line 1, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_wedding.scss */
.wedding {
  margin: 140px auto auto;
}

/* line 4, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_wedding.scss */
.wedding-title {
  font-family: "Alice";
  font-weight: 400;
  font-size: 48px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.8);
}

/* line 14, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_wedding.scss */
.wedding-img {
  margin: 40px auto auto;
  width: 730px;
}

/* line 19, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_wedding.scss */
.wedding-line {
  width: 658px;
  margin: 20px auto auto;
  color: #5A8CC1;
}

/* line 25, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_wedding.scss */
.wedding-text {
  display: block;
  font-family: "Alice";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.7);
}

/* line 1, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_team.scss */
.team {
  margin: 140px auto auto auto;
  width: 1276px;
}

/* line 5, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_team.scss */
.team-title {
  width: 1110px;
  font-family: "Alice";
  font-weight: 400;
  font-size: 48px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.8);
}

/* line 16, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_team.scss */
.team-block {
  display: flex;
  width: 1260px;
  margin-top: 40px;
  margin-right: 0;
  background: rgba(191, 219, 247, 0.2);
}

/* line 23, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_team.scss */
.team-block__items {
  margin: 191px 238px auto auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* line 29, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_team.scss */
.team-block__items-name {
  font-family: "Alice";
  font-weight: 400;
  font-size: 38px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.8);
}

/* line 39, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_team.scss */
.team-block__items-speciality {
  font-family: "Alice";
  font-weight: 400;
  font-size: 38px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.8);
}

/* line 1, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_footer.scss */
.footer {
  width: 100%;
  height: 477px;
  margin: 140px auto auto auto;
  background: rgba(191, 219, 247, 0.2);
}

/* line 7, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_footer.scss */
.footer-block {
  display: flex;
}

/* line 10, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_footer.scss */
.footer-block__map {
  margin-top: 25.52px;
  margin-left: 166px;
  width: 718px;
  height: 427px;
}

/* line 17, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_footer.scss */
.footer-block__info {
  margin-top: 25.52px;
  display: flex;
  flex-direction: column;
  margin-left: 42px;
  width: 349px;
}

/* line 24, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_footer.scss */
.footer-block__info-contacts {
  display: flex;
  flex-direction: column;
}

/* line 28, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_footer.scss */
.footer-block__info-contacts__adress {
  display: flex;
}

/* line 30, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_footer.scss */
.footer-block__info-contacts__adress > span {
  margin-left: 14px;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.07em;
  color: #2A2929;
}

/* line 40, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_footer.scss */
.footer-block__info-contacts__tel {
  margin-top: 46.52px;
  display: flex;
}

/* line 44, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_footer.scss */
.footer-block__info-contacts__tel > a {
  display: block;
  margin-left: 14px;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.07em;
  color: #2A2929;
}

/* line 55, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_footer.scss */
.footer-block__info-contacts__mail {
  margin-top: 25px;
  display: flex;
}

/* line 59, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_footer.scss */
.footer-block__info-contacts__mail > span {
  margin-left: 14px;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.07em;
  color: #2A2929;
}

/* line 70, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_footer.scss */
.footer-block__info-social {
  margin-top: 109px;
  margin-left: 28px;
}

/* line 74, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_footer.scss */
.footer-block__info-social > span {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.07em;
  color: #2A2929;
}

/* line 83, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/blocks/_footer.scss */
.footer-block__info-social__items {
  margin-top: 33px;
  display: flex;
  width: 171px;
  justify-content: space-between;
}

/* line 22, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/style.scss */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 200;
  color: #333333;
}

/* line 30, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/style.scss */
body {
  max-width: 100%;
}

/* line 34, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/style.scss */
ul {
  list-style: none;
  text-decoration: none;
}

/* line 39, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/style.scss */
a {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
}

/* line 45, ../../../../../../../../../../../../../Users/family/Desktop/markup-hotel/src/scss/style.scss */
.container {
  display: flex;
  justify-content: space-between;
  padding-left: 166px;
  padding-right: 166px;
}

/*# sourceMappingURL=style.css.map */